[Desktop Entry]
Type=Application
Name=THRM
Comment=Flydigi BS Series Fan Controller
Exec=/usr/bin/thrm
Icon=com.tianli0.thrm_ui
Terminal=false
Categories=Utility;
StartupWMClass=com.tianli0.thrm_ui
